<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/myStyles.css">
    <title>Transporte Horários - UMaHora</title>
</head>
<body>
    <%- include("../views/partials/navBar.ejs"); %>
    <%- include("../views/partials/moreOpcOverlay.ejs"); %>
    <div id="contentBox">
        <% busSchedules.forEach(function (busSchedule) { %>
        <div class="boxBusEvent <%= busSchedule.eventType %>EventBox">
            <p class="boxTimeEvent <%= (busSchedule.eventType == "willArrive") ? "tillArrive" : (busSchedule.eventType == "cancel") ? "gotCancel" : "isLate"%>"><%= busSchedule.busScheduleText %><span><%= busSchedule.busScheduleTime %></span></p>
            <p class = "busID"><%= busSchedule.busNumber %> - <%= busSchedule.busName %></p> 
        </div>
        <% }); %>
    </div>
    <script src="../public/scripts/overlayMoreOpcPages.js"></script>
</body>
</html>