<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/myStyles.css">
    <title>Passe - UMaHora</title>
</head>
<body>
    <%- include("../views/partials/navBar.ejs"); %>
    <%- include("../views/partials/moreOpcOverlay.ejs"); %>
    <div id="contentBox">
        <% if (!pass) { %>
            <!--TODO: need stylization-->
            <h3>O utilizador não está associado a nenhum passe</h3>
            <a href="/pass/association">Associar Passe</a>
        <% } else { %>
            <div id="paymentInfo">
                <div id="busPassPaymentTitle"> 
                    <h3>Informações do Passe</h3>
                    <img src="../public/images/busTicketIcon.png" alt="">
            </div>
                <div id="busPassPaymentInfo">
                    <p>Passe associado a <b id="passOwner"><%= pass.owner %></b></p>
                </div>
                <fieldset>
                    <legend>Estado de Pagamento</legend>
                    <div id="passPaymentState"><%= pass.paymentState %></div>
                </fieldset>
                <fieldset>
                    <legend>Título</legend>
                    <div id="passTitleType"><%= pass.titleType %></div>
                </fieldset>
                <fieldset>
                    <legend>Validade</legend>
                    <div id="passValidity"> <%= pass.validity %> </div>
                </fieldset>
                <div id="infoPaymentPass">
                    <h4>Pagar passe para o mês de Janeiro</h4>
                    <p>Para pagar o passe do mês de Janeiro e proceder ao pagamente <a href="/pass/payment"><b>Clique aqui!</b></a> para o efetuar</p>
                    <p><span>Nota:</span> Só poderá efetuar o pagamento do passe a partir do dia 20 do mês de Fevereiro</p> 
                </div>
        </div>
        <% } %>
    </div>
    <script src="../public/scripts/overlayMoreOpcPages.js"></script>
</body>
</html>